<body style="padding:20px">
  <img id="volunteer" src="../images/volunteer.jpg" >
  <h4>We are looking for enthusiastic educators who have a drive to do something for the country and possess deep passion for teaching.
  </h4>

  <h2>How can you help?</h2>
  <ul>
    <li>Test and Assignment</li>
    <p>You can prepare tests and assignments (with solutions) for the courses being taught on Awdhesh Academy. We shall post them on our website and millions of students can be benefited from it.</p>
    <li>Video Lessons</li>
    <p>You can also prepare video lessons for us. This has to be done in our studio by our team of expert videographers. They shall shoot the video and then upload the same on our platform.</p>
  </ul>
  <h2>When to work?</h2>
  <p>You can work with us as volunteer during your summer or winter breaks. You must be willing to give a minimum period of 7 days to us and cover a course partly or fully</p>
  <h2>Renumeration</h2>
  <p>We are not charging anything from the students as of now. However, we plan to charge nominal fee from them once we have a few course ready.
    If you help us prepare the course, we shall be sharing with you the revenue earn from your course.</p>
  <h2>Boarding and Lodging</h2>
  <p>We shall also be taking care of your boarding and lodging while your stay in Noida and pay you a modest honouroium to take care of your daily need.</p>
  <h2>Certificates</h2>
  <p>We shall also provide you a certificate, if you wish, for contributing to our Academy.</p>
</body>