li{
    font-size: 24px;
    padding-bottom: -12px;
}

p{
    font-size: 16px;
    padding-bottom: 12px;
    align-content: center;
    color: black;
}

img{
    height: 75%;
    width: 80%;
    align-content: center;
}