<h1 align = "center">--Our Mission--</h1>
<p align = "center">'Awdhesh Academy' aims at providing online education to everyone at the most affordable rates at all level and all stages of life. </p>

<h2 align  ="center">About Us</h2>

 <p align = "justify"> Dr. Awdhesh Singh is an author, educator, speaker and a Top Quora Writer in the world. He holds his B. Tech. from IIT-BHU Varanasi and M. Tech. from IIT Delhi. He has also done his PhD from ABV-Indian Institute of Information Technology and Management (IIITM), Gwalior. 
  
  He joined the Indian Revenue Service in 1991 and served the Government of India for more than 25 years. He received the "WCO Certificate of Merit" instituted by World Customs Organization (WCO) Brussels, on the International Customs Day 2011 and the "Presidential Award" by the Government of India on the eve of Republic Day 2015. He took voluntary retirement in October 2016 in the rank of Commissioner of Customs, Excise and Service Tax to pursue his passion in writing. 
  
  He had authored four books viz. "Practising Spiritual Intelligence" (2013), "The Secret Red Book of Leadership" (2015), 'Myths are Real, Reality is a Myth' (2017) and 'GST Made Simple' (2017). He is the SEVENTH MOST followed Writer on Quora.com with more than 200,000 followers. His answers have received more than 75 Million views. 
  
  
  </p>
