<div class="card-columns">
    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">School Course</h3>
            <p class="card-text">
                Class XI Maths
                Chapter Set
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">Test</a>
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">Notes</a>
        </div>
    </a>

    <a href="https://youtu.be/R8fuCuu1PpM" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">School Course</h3>
            <p class="card-text">
                Class XI Physics
                Chapter Physical World
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/R8fuCuu1PpM" class="btn btn-primary">View</a>
        </div>
    </a>

    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">Professional Courses</h3>
            <p class="card-text">
                Goods and Service Tax
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
        </div>
    </a>

    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">Competition</h3>
            <p class="card-text">
                Civil Service
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
        </div>
    </a>

    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">Life Management</h3>
            <p class="card-text">
                Life Skills
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
        </div>
    </a>

    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">School Course</h3>
            <p class="card-text">
                Class XI Maths
                Chapter Set
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
        </div>
    </a>

    <a href="https://youtu.be/Hu7h5SRmID0" class="card clickable">
        <div class="card-block">
            <h3 class="card-title">School Course</h3>
            <p class="card-text">
                Class XI Maths
                Chapter Set
            </p>
        </div>
        <div class="card-footer">
            <a href="https://youtu.be/Hu7h5SRmID0" class="btn btn-primary">View</a>
        </div>
    </a>

    
</div>